docs/

backend/.env
backend/.env.local
backend/.env.*.local
backend/__pycache__/
backend/*.pyc
backend/.venv/
backend/venv/

frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

frontend/.env
frontend/.env.local
frontend/.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
